@model NewsPortal.Models.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item ">Categories</li>
        <li class="breadcrumb-item active">Add New Category</li>


    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Add New Category

        </div>
        <div class="card-body">
            @using (Html.BeginForm("UpdateCategory", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label class="control-label">Category Id</label>

                    @Html.TextBoxFor(m => m.CategoryId, new { @class = "form-control", placeholder = "Enter CategoryId", required = "required", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Category Id</label>

                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter CategoryId", required = "required", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>


                <a onclick="window.history.back();" class="btn btn-link">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Save" />
            }
        </div>
    </div>
</div>